* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62, 5%;
  --main-color: hsl(42, 100%, 57%);
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;

  /* background-image: url(./images/event2.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}

.page {
  background-image: url(./images/event2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.7rem;
}

a:hover {
  color: var(--main-color);
}

/* ----------------------------        HEADER         ------------------------------  */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 96px 0 96px;
  align-items: center;
  background-color: black;
  top: 0;
}

nav svg {
  display: none;
}

ul {
  display: flex;
  gap: 32px;
  text-transform: uppercase;
}

li {
  text-decoration: none;
  list-style: none;
}

li:nth-child(5) {
  border: 1px solid var(--main-color);
  margin-left: 128px;
  padding: 0 5px;
}

.logo a {
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

h1 {
  padding-top: 50px;
  text-align: center;
  color: var(--main-color);
}

/* --------------------------------        MAIN       ------------------------------  */

main {
  width: 100%;
  color: var(--main-color);
  padding: 5rem 5rem;
  object-fit: contain;
}

.main-act {
  padding-top: 120px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  object-fit: contain;

  /*   border: 1px solid var(--main-color);
 */
}

.main-act img {
  position: relative;
  z-index: 0;
  width: 50rem;
  align-self: center;
  border: 3px solid var(--main-color);
  margin: 25px;
  object-fit: contain;
}

.other-act-card {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 28%;
}

.other-acts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  color: white;
  justify-items: center;
}

.other-acts-container img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: solid 3px var(--main-color);
  align-self: center;
}

.other-acts-container p,
.other-acts-container time {
  align-self: center;
}

.other-act-card:hover {
  transform: scale(115%);
  transition: all 200ms;
  opacity: 0.7;
}

h3 {
  position: absolute;
  font-size: 30px;
  text-align: center;
  padding-bottom: 200px;
  color: var(--main-color);
}

/* --------------------------------        FORM       ------------------------------  */

.form {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  background: rgb(232, 83, 5);
  background: linear-gradient(
    0deg,
    rgba(232, 83, 5, 1) 6%,
    rgba(148, 18, 10, 1) 44%,
    rgba(0, 0, 0, 1) 96%
  );
}

form {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-self: center;
  text-align: ;
  color: var(--main-color);
  width: 42rem;
  height: fit-content;
  padding: 16px;

  background: rgb(232, 83, 5);
  background: linear-gradient(
    0deg,
    rgba(232, 83, 5, 1) 6%,
    rgba(148, 18, 10, 1) 44%,
    rgba(0, 0, 0, 1) 96%
  );
}

form h4 {
  font-size: 40px;
  text-align: center;
}

form input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: hsla(240, 24%, 92%, 1);
  padding-left: 10px;
}

fieldset {
  font-size: 24px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.input-wrapper span {
  font-size: 12px;
  color: hsla(258, 14%, 77%, 0.5);
}
.input-wrapper span:hover {
  font-size: 12px;
  color: hsla(258, 14%, 77%, 1);
}

#email {
  display: flex;
  justify-self: center;
}

textarea {
  width: 100%;
  height: 90px;
}

.form button {
  width: 10%;
  margin: 0 auto;
  background-color: var(--main-color);
  height: 4rem;
  border-radius: 9999px;
}

.personal-info {
  display: flex;
  align-items: center;
}
/* --------------------------------        FOOTER       ------------------------------  */

footer {
  height: 150px;
  background: black;
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

footer ul {
  flex-direction: column;
  gap: 1px;
}

footer ul,
p {
  color: white;
}

/* ---------------      DEVERIA TER FEITO MOBILE FIRST  / ME LASQUEI    -------------------  */

@media (max-width: 1130px) {
  nav li {
    display: none;
  }
  nav svg {
    display: inline-block;
  }
}

@media (max-width: 910px) {
  body {
    min-width: 800px;
  }

  main img {
    text-align: center;
    height: 250px;
    width: 250px;
  }

  .main-act img {
    border: none;
  }

  .other-act-card {
    width: 35%;
  }

  form {
    transform: scale(80%);
  }
}

@media (max-width: 768px) {
  .other-acts-container {
    flex-direction: column;
    align-items: center;
  }

  body {
    min-width: 800px;
  }
}

@media (max-width: 550px) {
  h3 {
    position: relative;
    padding-bottom: 0;
  }
}

/* ---------------      DEVERIA TER FEITO MOBILE FIRST  / ME LASQUEI    -------------------  */
