* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62, 5%;
  --main-color: hsl(42, 100%, 57%);
}

body {
  width: 100%;
  height: 100%;

  background-image: url(./images/event2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.7rem;
}

a:hover {
  color: var(--main-color);
}

/* ----------------------------        HEADER         ------------------------------  */
/* header {
  background: rgb(196, 8, 8);
  background: linear-gradient(
    0deg,
    rgba(196, 8, 8, 1) 0%,
    rgba(0, 0, 0, 1) 24%
  );
} */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 96px 0 96px;
  align-items: center;
  background-color: black;
  top: 0;
}

ul {
  display: flex;
  gap: 4rem;
  text-transform: uppercase;
}

li {
  text-decoration: none;
  list-style: none;
}

li:nth-child(5) {
  border: 1px solid var(--main-color);
  margin-left: 128px;
  padding: 0 5px;
}

.logo a {
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 0.05em;
  color: var(--main-color);
}

h1 {
  padding-top: 50px;
  text-align: center;
  color: var(--main-color);
}

/* --------------------------------        MAIN       ------------------------------  */

main {
  width: 100%;
  color: var(--main-color);
  padding: 5rem 5rem;
}

.main-act {
  padding-top: 120px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  /*   border: 1px solid var(--main-color);
 */
}

.main-act img {
  width: 600px;
  align-self: center;
  padding: 15px 0;
}

.other-act-card {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 28%;
}

/* .other-act-card p {
  align-self: center;
  position: absolute;
} */

.other-acts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  color: white;
}

.other-acts-container img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: solid 3px var(--main-color);
}

.other-act-card:hover {
  transform: scale(115%);
  transition: all 200ms;
  opacity: 0.7;
}

h3,
label {
  position: absolute;
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
  color: var(--main-color);
}

/* --------------------------------        FORM       ------------------------------  */

/* --------------------------------        FOOTER       ------------------------------  */
