* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h2 {
  font-weight: 400;
  margin-bottom: 35px;
}

body {
  margin: 90px;
}

.card1,
.card2 {
  height: fit-content;
  width: 100%;
  border: 1px solid grey;
  padding: 2%;
  margin-bottom: 30px;
}

.details-card1,
.details-card2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.header1,
.header2 {
  display: flex;
  justify-content: space-between;
}

p,
ul {
  font-weight: 700;
}

span {
  font-weight: 400;
}

ul {
  padding-left: 15px;
}

li:nth-child(1) {
  margin-top: 10px;
}

li {
  font-weight: 400;
}
